The pandas library is essential to python programming language 
it provide fast flexible and impresive data structure for data manipulation and analysis
it frequescy used in ai and data science 
its real name is panal data short form is the pandas 
this is actual library
we use dataframs in here
use data Analysis and Data Manipulation 
colect and transform data 
reshaping of dataset
Time series specific functionality

In [1]:
# pandas series keeps index informatin for each value
#as an extra
import pandas as pd;
pd.Series([10,20,30,40,50])
#Series(data,index,dtype)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
list_data= [2,4,6,8,10]
list_index= ["a","b","c","d","e"]

In [6]:
variable = pd.Series(data = list_data,index=list_index,dtype="float")

In [4]:
variable

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [7]:
type(variable)

pandas.core.series.Series

In [11]:
list_data= [2,4,6,8,10,12]
list_index= ["a","b","c","d","e"]

# above two list has diferent size that is 
# the reason below value error

In [12]:
variable = pd.Series(data = list_data,index=list_index,dtype="float")

ValueError: Length of values (6) does not match length of index (5)

In [ ]:
# creatring a pandas series with a dictionary

In [13]:
dictionary =  { "ferrari" : 334.4 , "porche"  : 234.3, "lambogini": 234.545 }

In [14]:
pd.Series(dictionary)

ferrari      334.400
porche       234.300
lambogini    234.545
dtype: float64

In [15]:
variable  = pd.Series(data=dictionary,index=["porche","bugati","ferrari"])

In [16]:
variable

porche     234.3
bugati       NaN
ferrari    334.4
dtype: float64

Nan is because the there is no data in called bugati that the reason pandas give us above output

CREATING PANDAS SERIES WITH NUMPY ARRAY

In [17]:
import numpy as np
import pandas as pd

In [22]:
example = np.array([1,3,5,3,7.2,9])
labels = np.array(["a","b","c","d","e","f"])

In [23]:
variable = pd.Series(data = example,index=labels)

In [24]:
variable

a    1.0
b    3.0
c    5.0
d    3.0
e    7.2
f    9.0
dtype: float64

In [25]:
# Object Types in Series
pd.Series(["world",100,5.8,False])

0    world
1      100
2      5.8
3    False
dtype: object

In [26]:
example = pd.Series(["world",100,5.8,False])

In [27]:
example[0]

'world'

In [28]:
example[3]

False

In [30]:

print(type(example[0]))
print(type(example[1]))
print(type(example[2]))
print(type(example[3]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [31]:
pd.Series([sum,type,max])

0    <built-in function sum>
1             <class 'type'>
2    <built-in function max>
dtype: object

In [32]:
# Examming the primary Feactures of the pandas series
example = pd.Series([10,20,30,40,50,60,70,80,90])

In [33]:
example

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [34]:
example.axes

[RangeIndex(start=0, stop=9, step=1)]

In [35]:
example.dtype

dtype('int64')

In [36]:
example.size

9

In [37]:
example.ndim

1

In [38]:
example.head() # get the first five element of the data set

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [39]:
example.head(2)

0    10
1    20
dtype: int64

In [40]:
example.tail()

4    50
5    60
6    70
7    80
8    90
dtype: int64

In [2]:
# MOST APPLIED METHODS ON PANDAS SERIES
import pandas as pd
import numpy as np

In [3]:
variable = pd.Series([8,3,6,5,1],  index = ["a","b","c","d","e"])

In [4]:
variable

a    8
b    3
c    6
d    5
e    1
dtype: int64

In [5]:
newa_variabel = variable.sort_index()

In [6]:
newa_variabel

a    8
b    3
c    6
d    5
e    1
dtype: int64

In [7]:
new_variabel2 = variable.sort_values()

In [8]:
new_variabel2

e    1
b    3
d    5
c    6
a    8
dtype: int64

In [9]:
variable.isin([3,6])

a    False
b     True
c     True
d    False
e    False
dtype: bool

In [10]:

variable[variable.isin([3,6])] # get the values that are in the list

b    3
c    6
dtype: int64

In [11]:
variable.values

array([8, 3, 6, 5, 1], dtype=int64)

In [12]:
[i for i in variable.values]

[8, 3, 6, 5, 1]

In [13]:
variable.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [15]:

[i for i in variable.index]

['a', 'b', 'c', 'd', 'e']

In [16]:
variable.items

<bound method Series.items of a    8
b    3
c    6
d    5
e    1
dtype: int64>

In [17]:
variable.items()

In [18]:
list(variable.items())

[('a', 8), ('b', 3), ('c', 6), ('d', 5), ('e', 1)]

In [19]:
for index,value in variable.items():
    print(index," : ",value)

a  :  8
b  :  3
c  :  6
d  :  5
e  :  1

In [20]:
#INDEXING AND SLICING ON PANDAS SERIES

example = pd.Series(["+90","+49","+33","+39","+46","+47"],index=["turkey","germany","france","italy","sweden","norway"])

In [21]:
example

turkey     +90
germany    +49
france     +33
italy      +39
sweden     +46
norway     +47
dtype: object

In [22]:
example["turkey"]

'+90'

In [23]:
example[["turkey","germany","france"]]

turkey     +90
germany    +49
france     +33
dtype: object

In [25]:
example[4]

'+46'

In [27]:
example["france": "sweden"]

france    +33
italy     +39
sweden    +46
dtype: object

In [28]:
example[0:4]

turkey     +90
germany    +49
france     +33
italy      +39
dtype: object

In [29]:
example[0:4:2]

turkey    +90
france    +33
dtype: object

In [33]:
example[["france","sweden"]]

france    +33
sweden    +46
dtype: object